# -- Rust
target/

# -- Safety net

dist/
out/

# Doc Files
*.pdf
*.docx
*.xlsx
*.pptx
*.doc
*.xls
*.ppt
*.page

# Data Files
*.db3
*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz
*.vsix

# Videos
*.mov
*.mp4
*.webm
*.ogg
*.avi

# Images
*.icns
*.ico
*.jpeg
*.jpg
*.png
*.bmp

# -- Nodejs
node_modules/
!.mocharc.yaml
report.*.json

# Custom
mprocs.log
frontend/static/css/build
frontend/static/js/build
frontend/index.html
